@mixin setBackgroundImage ($imageURL){
        // background-image: linear-gradient(0deg, wheat 10%, rgba(255,0,0,0) 50%), url($imageURL);
        background-image: url($imageURL);
        // mix-blend-mode: luminosity;
        background-size: cover;
        background-position: center;
}

@mixin borderStyle{
    // border style
    border-radius: 10px;
    outline: 3px solid $borderColour;
    outline-offset: 5px;
}