// Import Variables, Fonts and Mixins
@import "variables";
@import "mixins";

// ====================================
// === STYLING FOR PHONES AND ABOVE ===
// ====================================

// Header and Navbar styling
header {

  // Layout & Flexbox
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;

  // Page Title text styling
  .pageTitle {    
    font-family: $h1Font;
    font-weight: 700;
    font-size: 10vh;
    text-align: center;
    line-height: 90%;
    letter-spacing: -0.07em;
    color: $mainColour;

    // Remove underline from links
    text-decoration: none;
  }

  // Navigation Menu Styling
  nav {
    margin-top: 2vh;
    a {
      padding: 4px;
      margin: 0 4px 0 4px;
      border-radius: 10px;
      font-size: 5vw;
      letter-spacing: 0em;
      font-weight: 500;
      color: $borderColour;
      font-family: $mainFont;
      text-decoration: none;
    }
  }
}

// Body Styling
body {
  background-color: $backgroundColour;
  margin: 0;
  height: 100vh;
}

// Styling specifically for the homepage
#homeBody {
  // Span the content vertically on the screen
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// Main Content Container
.container {
  // Flexbox & layout
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2vh 0 4vh 0;

  // Homepage cards styling
  .card {
    // Flexbox
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    // Prevent images contained from overflowing the container
    overflow: hidden;
    
    // Sizing
    height: 30vh;
    margin-bottom: 5vh;
    width: 90%;
    border-radius: 10px;

    // Decorative
    background-color: $borderColour;
    color: $backgroundColour;
    outline: 3px solid $borderColour;
    outline-offset: 5px;

    // text-decoration needs to be here because .card is <a>
    text-decoration: none;

    // Text for the cards. Slide in on larger devices with a cursor.
    .slideText {

      // Layout and Flex
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: $h1Font;
      font-size: 1em;
      height: $slideTextHeight;

      // Decorative
      background-color: $borderColour;
      border-radius: 0 0 10px 10px;

      // Keep state after animation ends
      animation-fill-mode: forwards;
    }

    // Image or Video styling for Card art
    .mediaBox {
      // Centre the media within this box
      overflow: hidden;
      display: flex;
      justify-content: center;
      // Have the media fill the box and hide any that spills out
      .media {
        flex-grow: 3;
        object-fit: cover;
      }
    }
  }
}

// Footer styling
footer {

  // Flex and Layout
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  // Decorative Styling
  background-color: $borderColour;
  color: $backgroundColour;
  font-family: $mainFont;
  font-size: 1.2em;
  font-weight: 400;

  // Social links component
  .footerSocials {
    // Flex layout
    display: flex;
    justify-content: center;
    margin-top: -12px;
    margin-bottom: 10px;
    // Icons
    a {
      font-size: 1em;
      margin: 0 6px 0 6px;
      text-decoration: none;
      color: $backgroundColour;
    }
  }
}

// Blog Styling
.post {
  // Flex and Layout
  width: 75%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6vh;
  padding: 8px;

  @include borderStyle;

  // Post Media Content
  .postImage {
    width: 100%;
    overflow: hidden;
    img,
    video {
      width: 100%;
      border-radius: 10px;
    }
  }

  // Post Text Content
  .postText {
    color: $borderColour;
    // Post Title
    h1 {
      margin: 5px 0 5px 0;
      font-family: $h1Font;
      font-size: 1.7em;
      line-height: 1em;
      letter-spacing: -0.03em;
    }
    // Post Subtitle/Date
    h4 {
      margin: 5px 0 5px 0;
      font-family: $h3Font;
      font-size: 1em;
      letter-spacing: 0.2em;
      font-weight: 600;
    }
    // Post Text
    p {
      font-family: $mainFont;
      font-size: 1em;
      margin-top: 15px;
      text-align: justify;
    }
  }
}

// About Page Layout
.aboutGrid {
  height: 100%;
  width: 77%;
  margin-top: 5vh;

  // Text styling
  h1,
  h4 {
    margin: 5px 0 5px 0;
    font-family: $h1Font;
    font-size: 1.7em;
    line-height: 1em;
    letter-spacing: -0.03em;
    color: $borderColour;
  }
  p {
    font-family: $mainFont;
    font-size: 1.2em;
    margin-top: 0;
    text-align: justify;
    color: $borderColour;
  }

  // Content Components
  .profilePic {
    @include borderStyle;

    display: flex;
    height: 20%;
    padding: 18px;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .introText {
    padding: 18px;
    margin-top: 4vh;
    @include borderStyle;
  }

  .skillsText {
    padding: 18px;
    margin-top: 4vh;
    @include borderStyle;
  }

  .contact {
    padding: 18px;
    margin-top: 4vh;
    @include borderStyle;
  }

  // Flex container for the Skills and Contact Link Components
  .flexContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px 0 30px 0;

    // Remove padding from unordered list
    padding-inline-start: 0;

    // Apply styling for SKILLS TAGS COMPONENT
    .skills {
      list-style-type: none;
      font-family: $linkFont;
      font-weight: $linkWeight;
      font-size: 0.9em;
      text-align: center;

      padding: 15px 20px 15px 20px;
      margin-bottom: 2%;

      background-color: $borderColour;
      color: $backgroundColour;
      border-radius: 10px;
    }

    // CONTACT LINKS COMPONENT
    .contactLink {
      text-decoration: 0;
      font-family: $linkFont;
      font-weight: $linkWeight;
      font-size: 2.4em;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;

      width: 25%;
      padding: 15px 15px 0 15px;
      margin-bottom: 3%;

      background-color: $mainColour;
      color: $backgroundColour;
      border-radius: 10px;
      line-height: 0.8em;
      p {
        font-size: 0.4em;
        margin-bottom: 0;
        color: $backgroundColour;
      }
    }
  }
}

// Design Collage Styling
#collage {
  img {
    height: 30vh;
    max-width: 95%;
    flex-grow: 1;
    object-fit: cover;
    margin: 10px;

    // border & shadow styling
    border-radius: 10px;
    outline: 3px solid $borderColour;
    //box-shadow: 4px 4px 0 4px $borderColour;
  }
}

// =====================================
// === STYLING FOR TABLETS AND ABOVE ===
// =====================================
@media (min-width: 481px) {
  header {
    .pageTitle {
      font-size: 13vw;
    }
    nav {
      a {
        padding: 4px;
        margin: 0 8px 0 8px;
        font-size: 1.4em;
      }
    }
  }

  #homeBody {
    .container {
      margin-top: 2vh;
    }
  }

  .container {
    margin-top: -4vh;
    .card {
      // Sizing
      height: 35vh;
      width: 80%;

      // Decorative
      outline: 3px solid $borderColour;
      outline-offset: 5px;

      // Text for the cards. Slide in on larger devices with a cursor.
      .slideText {
        font-size: 1.1em;
      }
    }
  }

  .aboutGrid {
    margin-top: 8vh;
    height: 100%;
    .contact {
      .flexContainer {
        .contactLink {
          font-size: 2.4em;
          line-height: 1.2em;
          p {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}

// =====================================
// === STYLING FOR LAPTOPS AND ABOVE ===
// =====================================
@media (min-width: 1024px) {

  // Give Transition for all elements for smoother animations
  * {
    transition: 0.4s ease-out;
  }

  header {
    .pageTitle {
      font-size: 12vh;
    }
    nav {
      a {
        padding: 7px;
      }
    }
  }

  .container {
    .card {
      // Set card sizes
      margin: 1.7vw;
      height: 55vh;
      min-width: 15%;
      width: 16%;

      outline-offset: 12px;

      // Return border colour to normal when mouse leaves hover
      outline-color: $borderColour;
      transition: all 0.4s ease-out;

      // Title text that slides in when the Card container is hovered over
      .slideText {
        height: $slideTextHeight;

        h1 {
          font-size: 1.4em;
        }

        // Exit Animation
        animation-name: slideTextDown;
        animation-timing-function: ease-out;
        animation-duration: 0.3s;
        background-color: $mainColour;
      }
    }
  }

  #blogContainer {
    margin: 1vh 0 4vh 0;

    .post {
      // justify-content: space-between;
      align-content: stretch;
      .postImage {
        flex: 1;
        padding-right: 0.7em;
        overflow: hidden;

        // Resize image to fit the container while keeping ratio and cropping sides
        img,
        video {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .postText {
        flex: 2;
        padding-left: 0.7em;
        font-size: 1em;
      }
    }
  }

  #collage {
    margin: 1vh 0 4vh 0;
    img {
      max-width: 100%;
    }
  }

  #aboutContainer {
    margin: 1vh 0 4vh 0;
  }

  // About Page with CSS Grid Layout for larger screens
  .aboutGrid {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 0fr 1fr 0fr;
    gap: 35px 35px;
    grid-auto-flow: row;
    grid-template-areas:
      "profilePic introText"
      "profilePic skillsText"
      "profilePic contact";

    // Text styling
    h1,
    h4 {
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }

    .profilePic {
      grid-area: profilePic;
      height: auto; // Prevent image from breaking out of the grid layout
    }

    .introText {
      grid-area: introText;
      margin-top: 0;
    }

    .skillsText {
      grid-area: skillsText;
      margin-top: 0;
    }

    .contact {
      grid-area: contact;
      margin-top: 0;
    }

    .flexContainer {
      .skills {
        font-size: 1.4em;
        padding: 15px 24px 15px 24px;
        margin-bottom: 2%;
      }

      .contactLink {
        font-size: 1.5em;
        padding: 25px;
        width: 14%;
        p {
          display: none; // Label only shows on hover
          line-height: 1.3em;
          cursor: pointer; // Make the text look clickable
        }
      }
    }
  }
}

// ===========================================
// === STYLING FOR LARGE SCREENS AND ABOVE ===
// ===========================================
@media (min-width: 1440px) {
  header {
    nav {
      a {
        padding: 12px;
        text-decoration: none;
        font-size: 1.6em;
      }
    }
  }

  .container {
    .card {
      // Set card sizes
      margin: 1.5vw;
      margin-top: 0;
      height: 60vh;
      min-width: 15%;
      width: 18%;

      .slideText {
        h1 {
          font-size: 2.9em;
        }
      }
    }
  }

  #blogContainer {
    .post {
      padding: 25px;
      .postImage {
        width: 100%;
      }
      .postText {
        font-size: 1.8em;
      }
    }
  }

  .aboutGrid {
    // Text styling
    h1,
    h4 {
      font-size: 2.4em;
    }
    p {
      font-size: 1.5em;
    }

    .flexContainer {
      .skills {
        font-size: 2.4em;
        padding: 25px 40px 25px 40px;
        margin-bottom: 2%;
      }

      .contactLink {
        width: 17%;
        font-size: 2.4em;
      }
    }
  }
}

// Animations imported at the end of the code
@import "animations";
